<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class= "org.Globallogic.Springcore.Student" name = "studentOne">
		<property name = "studentId">
			<value>101</value>
		</property>
		<property name = "studentName">
			<value>Taru</value>
		</property>
		<property name = "studentAddress">
			<value>Jabalpur</value>
		</property>
		
		
</bean>

</beans>